@using CapaEntidad
@{
    ViewBag.Title = "Trabajadores";
    Empleado oEmpleado = (Empleado)Session["Empleado"];
}

<ol class="breadcrumb mb-4 pt-4" >
    <li class="breadcrumb-item"><a href="index.html">Creditos</a></li>
    <li class="breadcrumb-item active">Ver creditos</li>
</ol>



        <div class=" text-white rounded-4 py-2 mb-4" style="background-color: rgb(64,139,253);">
            <h6 id="TituloCard" class="fw-bold text-center my-2" style="font-family: sans-serif;">Total de solicitudes (Gerencia)</h6>
        </div>

        <div class="card">

            <div class="card-header">
                <i class="fas fa-users me-1"></i>Lista de Creditos
            </div>

            <div class="card-body">
                <div class="row">
                </div>
                <hr />

                <table id="tabla" class="display cell-border " style="width: 90%">
                    <thead>
                        <tr>
                            <th>Ver</th>
                            <th>idEmpleado</th>
                            <th>idCredito</th>
                            <th>idSolicitud</th>
                            <th>TipoMoneda</th>
                            <th>FechaAprobacion</th>
                            <th>FechaDesembolso</th>
                            <th>TasaInteres</th>
                            <th>pGracia_Meses</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>



        <!--Los scripts que escribamos los va a tomar la masterpage como si fuera suyo-->
        @section scripts{

            <script>
        var tabladata;
        var CrearModal = true; // Saber si se abre crear o editar usuario
        var filaSeleccionada;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering : false,
            "ajax": {
                url: '@Url.Action("ListarCreditos", "Home")',
                type: "GET",
                dataType: "json",
            },

            "columns": [
                {
                    "defaultContent": '<div class="d-flex justify-content-center"><button type="button"  class="btn btn-info"> <i class="fas fa-eye"></i></div>',
                    "orderable": false,
                    "searchable": false,
                    "widht": "90px"
                },
                { "data": "IdEmpleado" },
                { "data": "IdCredito" },
                { "data": "IdSolicitud" },
                { "data": "TipoMoneda" },
                { "data": "FechaAprobacion" },
                { "data": "FechaDesembolso" },
                { "data": "TasaInteres" },
                { "data": "pGracia_Meses" }

            ],
            "language": {
                "url": 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
            }
        });


        $("#tabla tbody").on("click", '.btn-info', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            //alert("se presiono el boton");
            //window.location.href = 'https://www.ejemplo.com';
            var dato = data.IdCredito;
            window.location.href = '/Gestion/VerCalendario?dato='+dato;
            //console.log(data);
            //abrirModal(data)
        })

        if (@oEmpleado.Gerencia== 1) {
        $('#TituloCard').text('Total de Creditos (Gerente) ');
        } else {
        $('#TituloCard').text('Mis Atenciones -  ID empleado: '+@oEmpleado.IDempleado);
        };
            </script>

        }