@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Atencion L-V 8:00-17:00</h3>

    <address>
        El impulso que necesitas para llegar más lejos<br />
        Av Javier Prado Este 560 566<br />
        <abbr title="Phone">Telefono:</abbr>
        98367265
    </address>

    <address>
        <strong>Consultas:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
        <strong>Quejas:</strong> <a href="mailto:Marketing@example.com">Complaints@gmail.com</a>
    </address>
</main>